*.bak
*.class
*.db
*.ear
*.iml
*.jar
*.launch
*.pydevproject
*.swp
*.tmp
*.war
*~
*~.nib
.DS_Store
.Spotlight-V100
.Trashes
._*
.buildpath
.classpath
.cproject
.externalToolBuilders/
.gradle
.idea
.loadpath
.metadata
.project
.settings/
.svn
.target
.texlipse
rebel*.xml
Desktop.ini
Thumbs.db
local.properties
target/
testng*
tmp/
dependency-reduced-pom.xml
